# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Input File (CSV)
input_data_file = '../output_data/clean_cities.csv'

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load clean city data frame from clean CSV
clean_city_df = pd.read_csv(input_data_file)
clean_city_df

,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
0,Nālūt,30.33,10.85,76.10,52,20.33,0,LY,1596784815
1,Pacific Grove,36.62,-121.92,59.00,93,1.99,19,US,1596784816
2,De-Kastri,51.47,140.78,62.26,70,12.35,100,RU,1596784816
3,Alice,27.75,-98.07,78.80,88,4.70,20,US,1596784816
4,Port Hardy,50.70,-127.42,57.20,87,5.91,75,CA,1596784748
...,...,...,...,...,...,...,...,...,...
548,Namwala,-15.75,26.44,71.17,29,3.96,0,ZM,1596784962
549,Tomatlán,19.93,-105.25,78.17,89,1.39,100,MX,1596784963
550,Nador,35.17,-2.93,78.80,78,8.05,75,MA,1596784832
551,Birigui,-21.29,-50.34,59.07,54,9.37,0,BR,1596784963
552,Abu Kamal,34.45,40.92,97.27,21,13.20,0,SY,1596784963

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Create data frame for Lat/Lng and then convert into list of tuples
lat_lng = clean_city_df[['Lat','Lng']]
coordinates = lat_lng.to_records(index=False)

# Create data frame for humidity
humidity = clean_city_df['Humidity']

# Get median lat/lng and max humidity for gmaps config
med_lat = clean_city_df['Lat'].median()
med_lng = clean_city_df['Lng'].median()
max_humid = clean_city_df['Humidity'].max()

# Default figure layout for gmaps
figure_layout = {
    'width': '650px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
    }

# Config gmaps with api_key and figure layout using median lat/lng to center
gmaps.configure(api_key=g_key)
fig = gmaps.figure(layout=figure_layout, center=(med_lat,med_lng),
                   zoom_level=1.5, display_toolbar=False)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

In [4]:
# Create heat layer using max humidity for max intensity
heat_layer = gmaps.heatmap_layer(locations=coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=max_humid,
                                 point_radius=1)

# Add the heat layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Set ranges for ideal weather conditions
ideal_temps_rng = np.arange(60, 77, 1)
ideal_humid_rng = np.arange(60, 70, 1)
ideal_wind_speed_rng = np.arange(2, 7, 1)

# Create data frame with list of cities that do not meet criteria
not_ideal_weather_df = clean_city_df.loc[(~clean_city_df['Max Temp'].isin(ideal_temps_rng)) &
                                         (~clean_city_df['Humidity'].isin(ideal_humid_rng)) &
                                         (~clean_city_df['Wind Speed'].isin(ideal_wind_speed_rng))]

# Drop cities from ideal data frame using indexes
ideal_weather_cities = (clean_city_df.drop(index=not_ideal_weather_df.index)).dropna().reset_index(drop=True)
ideal_weather_cities

,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date
0,Nikolskoye,59.70,30.79,72.00,64,2.24,40,RU,1596784629
1,Punta Arenas,-53.15,-70.92,37.40,69,19.46,99,CL,1596784621
2,Thompson,55.74,-97.86,68.00,72,5.82,20,CA,1596784693
3,Busselton,-33.65,115.33,61.00,42,8.50,78,AU,1596784626
4,Jamestown,42.10,-79.24,62.60,67,6.93,75,US,1596784584
...,...,...,...,...,...,...,...,...,...
100,Santa Lucía,27.91,-15.54,73.40,69,20.80,75,ES,1596784923
101,Lakatoro,-16.10,167.42,77.00,69,8.05,40,VU,1596784954
102,General Pico,-35.66,-63.76,41.83,65,6.02,100,AR,1596784954
103,Micheweni,-4.97,39.83,79.30,68,11.48,20,TZ,1596784955
104,Flin Flon,54.77,-101.86,66.09,65,4.23,9,CA,1596784666

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Store ideal data frame into hotel dataframe? Uses sample to randomly select 10 rows.
hotel_df = ideal_weather_cities.sample(n=10)

# Add empty Hotel Name column?
hotel_df['Hotel Name'] = ''
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date,Hotel Name
40,George,-33.96,22.46,53.60,62,2.24,0,ZA,1596784874,
68,Abū Zabad,12.35,29.25,80.10,68,12.71,0,SD,1596784914,
47,Key Largo,25.09,-80.45,84.00,1,4.00,0,US,1596784881,
17,Port Elizabeth,-33.92,25.57,55.40,66,5.82,40,ZA,1596784573,
82,Belyy Yar,53.60,91.39,71.60,60,2.24,99,RU,1596784935,
32,Roswell,34.02,-84.36,75.00,88,3.36,20,US,1596784775,
93,Old Saybrook,41.29,-72.38,70.00,89,6.04,100,US,1596784946,
60,Lithakia,37.72,20.83,78.80,65,4.70,40,GR,1596784895,
62,Borehamwood,51.65,-0.28,72.00,82,1.12,0,GB,1596784896,
91,Egvekinot,66.32,-179.17,48.34,69,6.87,98,RU,1596784945,

In [7]:
# Create list of lat/lng from hotel data frame and set empty list for hotel coordinates
city_coord = hotel_df[['Lat','Lng']]
hotel_coord = []

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# iterate through requests to find first result and store name and loc
for i in range(10):
    try:
        hotel_info = []
        target_coordinates = f'{city_coord.iloc[i,0]},{city_coord.iloc[i,1]}'
        target_radius = 5000
        target_type = 'hotel'
        
        params = {
            'location': target_coordinates,
            'radius': target_radius,
            'type': target_type,
            'key': g_key
        }
        
        response = requests.get(base_url, params=params).json()
            
        hotel_coord.append([response['results'][1]['geometry']['location']['lat'],
                           response['results'][1]['geometry']['location']['lng']])
            
        hotel_df.iloc[i, 9] = response['results'][1]['name']
        
    except:
        print(f'Error.')
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Wind Speed,Cloudiness,Country,Date,Hotel Name
40,George,-33.96,22.46,53.60,62,2.24,0,ZA,1596784874,Protea Hotel by Marriott George King George
68,Abū Zabad,12.35,29.25,80.10,68,12.71,0,SD,1596784914,ابوزبد اعمال وانجا التجارية
47,Key Largo,25.09,-80.45,84.00,1,4.00,0,US,1596784881,Bayside Inn Key Largo
17,Port Elizabeth,-33.92,25.57,55.40,66,5.82,40,ZA,1596784573,Gelvandale Stadium
82,Belyy Yar,53.60,91.39,71.60,60,2.24,99,RU,1596784935,Administratsiya Altayskogo Rayona
32,Roswell,34.02,-84.36,75.00,88,3.36,20,US,1596784775,La Quinta Inn & Suites by Wyndham Atlanta Roswell
93,Old Saybrook,41.29,-72.38,70.00,89,6.04,100,US,1596784946,Saybrook Point Resort & Marina - Luxury Connec...
60,Lithakia,37.72,20.83,78.80,65,4.70,40,GR,1596784895,Zante Plaza Hotel & Apartments
62,Borehamwood,51.65,-0.28,72.00,82,1.12,0,GB,1596784896,Village Hotel Watford
91,Egvekinot,66.32,-179.17,48.34,69,6.87,98,RU,1596784945,Mou Sosh P. Egvekinot

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations=hotel_coord,
                                  info_box_content=hotel_info)

# Display figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…